[submodule "grasscutter"]
	path = gc
	url = git@github.com:Grasscutters/Grasscutter.git
[submodule "dimbreath"]
	path = bin/dimbreath
	url = git@github.com:Dimbreath/GenshinData.git
[submodule "radioegor"]
	path = bin/radioegor
	url = git@github.com:zhsitao/gi-bin-output.git
